<!DOCTYPE html>
<html>
<head>
	<title>To Do list</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

<div class="box" id="heading">
<h1> <%=kindofday%> </h1>
</div>

	<div class="box">
	<% for (var i=1; i<newlistitem.length;i++){ %>
	<div class="item">
		<input type="checkbox" ></input>
		<p><%=newlistitem[i]%></p>
	</div>
	<% } %>


	<form class="item" action="/" method="post">
	<input type="text" name="newitem" placeholder="Your Task" autocomplete="off">
	<button type="submit" name="button">+</button>
	</form>
	</div>




</body>
</html>